/* Main Styles */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

/* Control Styles */
#controls {
    flex: 0 0 230px;
    background: rgb(10, 54, 74);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

#controls label,
#controls input,
#controls button {
    margin-bottom: 10px;
}

#warningLog {
    color: red;
}

/* Main Render Area Styles */
#render-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
}

/* 3D Render Styles */
#vtk-vol_container {
    flex: 1;
    background: rgb(8, 79, 111);
    position: relative;
    z-index: 1;
    min-height: 0;
}

#vol-slice-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    gap: 0px;
}

/* Slice Styles */
.slice-view {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;
}

.sliceColumn {
    display: none;
    grid-template-rows: auto 1fr;
    gap: 0;
    padding: 0;
    margin: 0;
    min-height: 0;
}

.sliceLabel {
    gap: 0;
    padding: 0;
    margin: 0;
    font-size: 100%;
    width: 100%;
    height: 20px;
}

#AxialSlice {
    background: red;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#SagittalSlice {
    background: yellow;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#CoronalSlice {
    background: green;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#axialSliceLabel {
    background-color: red;
    width: 100%;
}

#sagittalSliceLabel {
    background-color: yellow;
    width: 100%;
}

#coronalSliceLabel {
    background-color: green;
    width: 100%;
}

/* 2D Render Styles */
#twoD-main-container {
    flex: 1 1 auto;
    background: rgb(9, 85, 120);
    display: none;
    flex-direction: row;
    height: 100%;
    min-width: 0;
    gap: 0;
    padding: 0;
}

#twoD-render-area {
    flex: 0 0 auto;
    background: rgb(9, 85, 120);
    display: none;
    flex-direction: column;
    /* height: 100%; */
    min-width: 0;
    /* max-width: 80%; */
    gap: 0;
    padding: 0;
    /* position: relative; */
}

/* #twoD-render-area canvas {
    height: 95%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    gap: 0;
    padding: 0;
} */

#twoD-controls {
    display: flex;
    height: 20px;
    width: 100%;
    background: rgb(9, 85, 120);
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    padding: 0;
    z-index: 0;
}

#twoD-play-pause {
    width: 60px;
}

/* 2D Annotation Panel */
#annotation-details {
    overflow-y: auto;
    max-height: 100%;
    height: auto;
    width: 100%;
    flex: 0 1 auto;
       
}

#annotation-tools {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    width: 100%;

}

#annotation-table {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    color: white;
    
    tr:hover { 
        background-color: #d7dede;
        color: black;
    };

    
}

#ac1 {
    width: 20%;
}

#ac2 {
    width: 40%;
}


#table,th,tr,td {
    border: 1px solid white;
    border-collapse: collapse;
}

/* 2D Canvas' */
#canvas-wrapper {
    position: relative;
    display: inline-block;
}

#twoD-canvas {
    z-index: 0;
}

#annotation-canvas {
    z-index: 1;
    pointer-events: auto;
}

#twoD-canvas, #annotation-canvas {
    position: absolute;
    top: 0;
    left: 0;
}